$tablet: '1100px';

$orange: #F38630;
$red: #f24a30;

body {
  padding-bottom: 60px;
  color: #fff;
  background: $orange;

  font-family: 'Raleway', sans-serif;
}

*:focus {
  outline: none!important;
}
a {
  color: #337ab7;
  cursor: pointer;
}
h1 {
  margin-bottom: 50px;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
}
h2 {
  margin-bottom: 40px;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
}
h3 {
  color: #f2f0ef;
  font-size: 18px;
  line-height: 30px;
}
h4 {
  font-size: 35px;
}

header {
  overflow: hidden;
  width: 800px;
  margin: 0 auto;
  padding: 50px 0;

  @media (max-width: $tablet) {
    width: 90%;
  }

  a, a:hover, a:focus {
    text-decoration: none;
  }
  & > div {
    float: left;
    width: 64%;
    padding-right: 10px;

    &#traders-image {
      width: 35%;
      height: 325px;
      background: #fff;
      border-radius: 20px;
    }
  }

  section {
    &.stats {
      width: 100%;
      padding-top: 20px;

      div {
        float: left;
        margin-right: 40px;

        h4 {
          position: relative;
          padding-left: 15px;

          &:before {
            content: '$';
            position: absolute;
            font-size: 16px;
            top: 10px;
            left: 0;
          }
        }
      }
    }
  }
}

main {
  overflow: hidden;
  width: 800px;
  margin: 0 auto;
  text-align: center;

  @media (max-width: $tablet) {
    width: 90%;
  }

  nav {
    margin: 20px 0 50px 0;

    .btn {
      font-size: 22px;
      background: none;
      border: 1px solid #fff;
      box-shadow: none!important;

      &.active, &:hover, &:focus {
        color: $orange;
        background: #fff;
      }
    }
  }
  section {
    margin: 0 auto;
    text-align: left;

    form {
      margin: 0 auto;

      label {
        display: block;
      }
      .validation-msg {
        margin: 10px 0 0 4px;
        font-size: 12px;
      }
    }

    &.clients-table {
      margin-top: 30px;
    }
  }
}

// Overwrite Bootstrap styles
.center-block {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .form-control {
  color: $red;
  border-color: $red;

  &:focus {
    border-color: $red;
    box-shadow: none;
  }
}

// Overwrite ng-table styles
.table > thead > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-color: #fff!important;
}
div[ng-table-pagination] {
  display: none;
}