<div class="center-block col-md-6">
    <h2>Existing clients</h2>

    <form name="client" novalidate>
        <div class="form-group required">
            <div class="input-group">
                <input id="api-key" type="text" class="form-control" name="apiKey"
                       ng-model="formData.apiKey" ng-required="true" placeholder="ApiKey">

                <span class="input-group-btn">
                    <button class="btn btn-warning" ng-click="submit()">Find client</button>
                </span>
            </div>
        </div>
    </form>

    <section class="clients-table">
        {{data}}
    </section>

    <div ng-if="data">
        <button class="btn btn-danger" ng-click="stop()">Remove and stop</button>
    </div>
</div>