<div class="center-block col-md-12">
    <h2>Existing clients</h2>

    <form name="clientSearchForm" novalidate>
        <div class="form-group required">
            <div class="input-group">
                <input id="api-key" type="text" class="form-control" name="apiKey"
                       ng-model="search.apiKey" ng-required="true" placeholder="API key">

                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="searchClients()" loading="searchingClient"
                            ng-disabled="searchingClient">
                        Find client
                    </button>
                </span>
            </div>
        </div>
    </form>

    <section class="clients-table">
        <table ng-table class="table">
            <tr ng-repeat="client in clients">
                <td data-title="'Type'">
                    {{client.type}}
                </td>
                <td data-title="'Limit'">
                    {{client.limit}}
                </td>
                <td data-title="'Amount'">
                    {{client.amount}}
                </td>
                <td data-title="'Actions'">
                    <a ng-click="stop(client.randomId)">Remove</a>
                </td>
            </tr>
        </table>
    </section>
</div>