<div>
    Existing client

    <form name="client" class="form-horizontal" ng-submit="submit()">
        <div class="form-group required">
            <label class="col-sm-8 col-md-4 control-label">ApiKey:</label>

            <div class="col-sm-8">
                <input type="text" name="apiKey" ng-model="formData.apiKey" ng-required="true">
            </div>
        </div>

        <div class="btn-toolbar">
            <input type="submit" value="Find client">
        </div>
    </form>

    <div ng-if="data">
        <button ng-click="stop()">Remove and stop</button>
    </div>

    {{data}}
</div>