<div class="center-block col-md-6">
    <h2>Register a new client</h2>

    <form name="newClient" novalidate>
        <div class="form-group required">
            <label for="api-key">ApiKey</label>
            <input id="api-key" type="text" class="form-control" name="apiKey"
                   ng-model="data.apiKey" ng-required="true">
        </div>
        <div class="form-group required">
            <label for="api-secret">ApiSecret</label>
            <input id="api-secret" type="text" class="form-control" name="apiSecret"
                   ng-model="data.apiSecret" ng-required="true">
        </div>
        <div class="form-group required">
            <label for="type">Transaction type [sell, buy]:</label>
            <input id="type" type="text" class="form-control" name="type" ng-model="data.type" ng-required="true">
        </div>
        <div class="form-group required">
            <label for="limit">Limit. If buy then maximum buy price and if sell then minimum sell price</label>
            <input id="limit" type="text" class="form-control" name="limit" ng-model="data.limit" ng-required="true">
        </div>
        <div class="form-group required">
            <label for="amount">Amount. When selling then in BTC and when buying then in EUR</label>
            <input id="amount" type="text" class="form-control" name="amount" ng-model="data.amount" ng-required="true">
        </div>

        <button class="btn btn-success" ng-click="submit()">Add new</button>
    </form>
</div>