<div>
    Register new client with a transaction

    <form name="newClient" class="form-horizontal" ng-submit="submit()" novalidate>
        <div class="form-group required">
            <label class="col-sm-8 col-md-4 control-label">ApiKey:</label>

            <div class="col-sm-8">
                <input type="text" name="apiKey" ng-model="data.apiKey" ng-required="true">
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-8 col-md-4 control-label">ApiSecret:</label>

            <div class="col-sm-8">
                <input type="text" name="apiSecret" ng-model="data.apiSecret" ng-required="true">
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-8 col-md-4 control-label">Transaction type [sell, buy]:</label>

            <div class="col-sm-8">
                <input type="text" name="type" ng-model="data.type" ng-required="true">
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-8 col-md-4 control-label">Limit. If buy then maximum buy price and if sell then minimum sell price:</label>

            <div class="col-sm-8">
                <input type="text" name="limit" ng-model="data.limit" ng-required="true">
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-8 col-md-4 control-label">Amount. When selling then in BTC and when buying then in EUR:</label>

            <div class="col-sm-8">
                <input type="text" name="amount" ng-model="data.amount" ng-required="true">
            </div>
        </div>
        <div class="btn-toolbar">
            <input type="submit" value="Add new">
        </div>
    </form>
</div>