<div class="center-block col-md-6">
    <h2>Register a new client</h2>

    <form name="newClient" novalidate>
        <div class="form-group required">
          <label for="random-id">Transaction id</label>

          <input id="random-id" type="text" class="form-control" name="randomId"
                 ng-model="client.randomId" ng-required="true" ng-readonly="true">
        </div>
        <div class="form-group required" ng-class="{'has-error': newClient.apiKey.$invalid && newClient.apiKey.$dirty}">
            <label for="api-key">ApiKey</label>

            <input id="api-key" type="text" class="form-control" name="apiKey"
                   ng-model="client.apiKey" ng-required="true">
        </div>
        <div class="form-group required" ng-class="{'has-error': newClient.apiSecret.$invalid && newClient.apiSecret.$dirty}">
            <label for="api-secret">ApiSecret</label>

            <input id="api-secret" type="text" class="form-control" name="apiSecret"
                   ng-model="client.apiSecret" ng-required="true">
        </div>
        <div class="form-group required" ng-class="{'has-error': newClient.type.$invalid && newClient.type.$dirty}">
            <label class="radio-inline">
                <input type="radio" value="buy" name="type" ng-model="client.type" ng-required="true">
                Buy
            </label>
            <label class="radio-inline">
                <input type="radio" value="sell" name="type" ng-model="client.type" ng-required="true">
                Sell
            </label>
        </div>
        <div class="form-group required" ng-class="{'has-error': newClient.limit.$invalid && newClient.limit.$dirty}">
            <label for="limit" ng-if="client.type == 'buy'">
                Highest limit in USD. If price goes below this limit then buy
            </label>
            <label for="limit" ng-if="client.type == 'sell'">
                Lowest limit in USD. If prices goes above this then sell
            </label>

            <input id="limit" type="text" class="form-control" name="limit" ng-model="client.limit" ng-required="true"
                   fcsa-number="{ min: 0, maxDecimals: 2, preventInvalidInput: true }">

            <span class="help-inline" ng-show="newClient.limit.$invalid && newClient.limit.$dirty">
                Limit has to be a number with at most 2 decimal places
            </span>
        </div>
        <div class="form-group required" ng-class="{'has-error': newClient.amount.$invalid && newClient.amount.$dirty}">
            <label for="amount" ng-if="client.type == 'buy'">Amount in EUR</label>
            <label for="amount" ng-if="client.type == 'sell'">Amount in BTC</label>

            <input id="amount" type="text" class="form-control" name="amount" ng-model="client.amount"
                   ng-required="true" fcsa-number="{ min: 0, maxDecimals: 8, preventInvalidInput: true }">

            <div ng-show="newClient.amount.$invalid && newClient.amount.$dirty">
                Amount has to be a number with at most 8 decimal places
            </div>
        </div>

        <button class="btn btn-success" ng-click="submit()" ng-disabled="newClient.$invalid">Add new</button>
    </form>
</div>